Solution 1:

In [ ]:
import sqlite3

# Connect to a database (or create one if it doesn't exist)
# The database will be stored in the file 'employees.db'
conn = sqlite3.connect('employees.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# SQL command to create the table
create_table_sql = """
CREATE TABLE employees (
    emp_id INT NOT NULL PRIMARY KEY,
    emp_name TEXT NOT NULL,
    age INT CHECK (age >= 18),
    email TEXT UNIQUE,
    salary DECIMAL(10, 2) DEFAULT 30000
);
"""

# Execute the SQL command
cursor.execute(create_table_sql)

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Table 'employees' created successfully.")

Table 'employees' created successfully.

Question 2 :  **Explain the purpose of constraints?**

Solution: Constraints are rules enforced on data columns in a table. They are used to limit the type of data that can be inserted into a table, thus maintaining the data integrity and reliability of the database.

Common types of constraints include:

PRIMARY KEY: Uniquely identifies each record in a table.

FOREIGN KEY: Establishes a link between data in two tables.

NOT NULL: Ensures that a column cannot have a NULL value.

UNIQUE: Ensures that all values in a column are different.

CHECK: Ensures that the values in a column satisfy a specific condition

Question : Why apply the NOT NULL constraint?

Solution : The NOT NULL constraint is applied to a column to ensure that the column always contains a value. This is important for columns where having a missing value would make the data incomplete or meaningless. A primary key cannot contain NULL values because it is used to uniquely identify each record in the table. If a primary key were allowed to have NULL values, it would violate the fundamental requirement of uniquely identifying records.

Question. Explain steps to add/remove constraints:

Solution : To add a constraint to an existing table, you can use the ALTER TABLE command with the ADD CONSTRAINT clause. To remove a constraint, you can use the ALTER TABLE command with the DROP CONSTRAINT clause. Here are example

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL command to add a constraint
add_constraint_sql = """
ALTER TABLE employees
ADD CONSTRAINT salary_check CHECK (salary > 0);
"""

# Execute the SQL command to add the constraint
try:
    cursor.execute(add_constraint_sql)
    conn.commit()
    print("Constraint 'salary_check' added successfully.")
except sqlite3.Error as e:
    print(f"Error adding constraint: {e}")

# SQL command to remove the constraint
remove_constraint_sql = """
ALTER TABLE employees
DROP CONSTRAINT salary_check;
"""

# Execute the SQL command to remove the constraint
try:
    cursor.execute(remove_constraint_sql)
    conn.commit()
    print("Constraint 'salary_check' removed successfully.")
except sqlite3.Error as e:
    print(f"Error removing constraint: {e}")
finally:
    # Close the connection
    conn.close()

Error adding constraint: near "CONSTRAINT": syntax error
Error removing constraint: near "CONSTRAINT": syntax error

Solution 5: Consequences of violating constraints:

Attempting to insert, update, or delete data in a way that violates a constraint will result in an error. The specific error message will depend on the type of constraint violated and the database system being used.

For example, if you try to insert a row into the employees table with a NULL value for the emp_name column, you will get an error message similar to:

Solution 6:

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('employees.db') # Assuming 'employees.db' is your database file
cursor = conn.cursor()

# SQL command to add a primary key constraint
add_pk_sql = """
ALTER TABLE products
ADD CONSTRAINT product_id_pk PRIMARY KEY (product_id);
"""

# SQL command to set a default value for the price column
alter_column_default_sql = """
ALTER TABLE products
ALTER COLUMN price SET DEFAULT 50.00;
"""

# Execute the SQL command to add the primary key constraint
try:
    cursor.execute(add_pk_sql)
    conn.commit()
    print("Primary key constraint 'product_id_pk' added successfully to the 'products' table.")
except sqlite3.Error as e:
    print(f"Error adding primary key constraint: {e}")

# Execute the SQL command to set the default value for the price column
try:
    cursor.execute(alter_column_default_sql)
    conn.commit()
    print("Default value for 'price' column set successfully in the 'products' table.")
except sqlite3.Error as e:
    print(f"Error setting default value for 'price' column: {e}")
finally:
    # Close the connection
    conn.close()

Error adding primary key constraint: no such table: products
Error setting default value for 'price' column: near "ALTER": syntax error

Question 7 : Write a query to fetch student_name and class_name using INNER JOIN:

Solution :

In [ ]:
import sqlite3

# Connect to the database (replace 'your_database.db' with your database file name)
conn = sqlite3.connect('your_database.db')
cursor = conn.cursor()

# SQL query to fetch student_name and class_name using INNER JOIN
select_query = """
SELECT Students.student_name, Classes.class_name
FROM Students
INNER JOIN Classes ON Students.class_id = Classes.class_id;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: Students

Solution : 8

In [ ]:
import sqlite3

# Connect to your database (replace 'your_database.db' with your actual database file)
conn = sqlite3.connect('your_database.db')
cursor = conn.cursor()

# SQL query
select_query = """
SELECT
    o.order_id,
    c.customer_name,
    p.product_name
FROM
    Products p
LEFT JOIN
    Orders o ON p.order_id = o.order_id
LEFT JOIN
    Customers c ON o.customer_id = c.customer_id;
"""

# Execute the query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: Products

Solution 9 :

In [ ]:
import sqlite3

# Connect to your database (replace 'your_database.db' with your actual database file)
conn = sqlite3.connect('your_database.db')
cursor = conn.cursor()

# SQL query
select_query = """
SELECT
    p.product_name,
    SUM(s.amount) AS total_sales_amount
FROM
    Sales s
INNER JOIN
    Products p ON s.product_id = p.product_id
GROUP BY
    p.product_name;
"""

# Execute the query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: Sales

Solution 10:

In [ ]:
import sqlite3

# Connect to your database (replace 'your_database.db' with your actual database file)
conn = sqlite3.connect('your_database.db')
cursor = conn.cursor()

# SQL query
select_query = """
SELECT
    o.order_id,
    c.customer_name,
    od.quantity
FROM
    Orders o
INNER JOIN
    Customers c ON o.customer_id = c.customer_id
INNER JOIN
    Order_Details od ON o.order_id = od.order_id;
"""

# Execute the query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: Orders

**SQL Commands**

Solution 1: Identify primary and foreign keys:

Primary keys uniquely identify records within a table.
Foreign keys establish relationships between tables by referencing primary keys in other tables.
To identify these, you would typically use the SHOW CREATE TABLE table_name; command in MySQL or query the information schema in other databases.

Solution 2 :

In [2]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM actor;
"""

try:
    cursor.execute(select_query)
    results = cursor.fetchall()


    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: actor

Solution 3:

In [4]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to list all tables in the databaseSELECT * FROM customer;
select_tables_query = """
SELECT name FROM sqlite_master WHERE type='table';
"""

# Execute the query
try:
    cursor.execute(select_tables_query)
    tables = cursor.fetchall()

    # Print the table names
    print("Tables in the database:")
    for table in tables:
        print(table[0])

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Tables in the database:

Solution 4 :

In [7]:
import sqlite3
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()
select_query = """
SELECT DISTINCT country FROM country;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row[0]) # Assuming the country name is the first column

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: country

Solution 5:

In [10]:
import sqlite3
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()
select_query = """
SELECT * FROM customer WHERE active = 1;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 6:

In [13]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT rental_id FROM rental WHERE customer_id = 1;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row[0]) # Assuming rental_id is the first column

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: rental

Solution 7:

In [16]:
import sqlite3
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM film WHERE rental_duration > 5;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 8:

In [19]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT COUNT(*) FROM film WHERE replacement_cost > 15 AND replacement_cost < 20;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    result = cursor.fetchone()

    # Print the result
    if result:
        print(f"Number of films with replacement cost between 15 and 20: {result[0]}")
    else:
        print("No films found matching the criteria.")


except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 9 :

In [22]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT COUNT(DISTINCT first_name) FROM actor;
"""

try:
    cursor.execute(select_query)
    result = cursor.fetchone()

    # Print the result
    if result:
        print(f"Number of distinct first names in the actor table: {result[0]}")
    else:
        print("No distinct first names found.")

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: actor

Solution 10 :

In [25]:
import sqlite3
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM customer LIMIT 10;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 11:

In [28]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM customer WHERE first_name LIKE 'B%' LIMIT 3;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 12:

In [32]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT title FROM film WHERE rating = 'G' LIMIT 5;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row[0]) # Assuming title is the first column

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 13:

In [35]:
import sqlite3
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM customer WHERE first_name LIKE 'A%';
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 14:

In [37]:
import sqlite3
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()
select_query = """
SELECT * FROM customer WHERE first_name LIKE '%a';
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 15:

In [39]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT city FROM city WHERE city LIKE 'a%a' LIMIT 4;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row[0]) # Assuming city name is the first column

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: city

Solution 16:

In [42]:
import sqlite3
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()
select_query = """
SELECT * FROM customer WHERE first_name LIKE '%NI%';
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 17 :

In [45]:
import sqlite3
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM customer WHERE first_name LIKE '_r%';
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 18:

In [48]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM customer WHERE first_name LIKE 'A____%';
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 18:

In [51]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM customer WHERE first_name LIKE 'A%o';
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 19:

In [54]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM film WHERE rating IN ('PG', 'PG-13');
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 20 :

In [57]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()
select_query = """
SELECT * FROM film WHERE rating IN ('PG', 'PG-13');
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 21:

In [60]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM film WHERE length BETWEEN 50 AND 100;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 22

In [63]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT * FROM actor LIMIT 50;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: actor

**Basic Aggregate Functions**

Solution 1:

In [66]:
import sqlite3
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT COUNT(*) AS total_rentals FROM rental;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    result = cursor.fetchone()

    # Print the result
    if result:
        print(f"Total rentals: {result[0]}")
    else:
        print("Could not retrieve total rentals.")


except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: rental

Solution 2:

In [69]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT AVG(rental_duration) AS average_rental_duration FROM film;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    result = cursor.fetchone()

    # Print the result
    if result:
        print(f"Average rental duration: {result[0]}")
    else:
        print("Could not retrieve average rental duration.")

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 3:

In [72]:
import sqlite3


conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT UPPER(first_name), UPPER(last_name) FROM customer;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 4 :

In [75]:
import sqlite3

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

select_query = """
SELECT rental_id, strftime('%m', rental_date) AS rental_month FROM rental;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: rental

Soluton 5 :

In [77]:
import sqlite3

# Connect to the database (replace 'your_database.db' with your database file name)
# Assuming the database you want to query is 'employees.db' based on previous cells.
# If your 'rental' table is in a different database, please change 'employees.db' accordingly.
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to select the 'customer_id' and count the number of rentals for each customer from the 'rental' table
# Note: The 'rental' table does not exist in the 'employees.db' database created earlier.
# This query will likely result in an error "no such table: rental".
# If you intended to query a different database or table, please update the connection or query accordingly.
select_query = """
SELECT customer_id, COUNT(*) AS rental_count FROM rental GROUP BY customer_id;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: rental

 **GROUP BY (Continued)**

Solution 6 :

In [79]:
import sqlite3

# Connect to the database (replace 'your_database.db' with your database file name)
# Assuming the database you want to query is 'employees.db' based on previous cells.
# If your tables ('store', 'staff', 'payment') are in a different database, please change 'employees.db' accordingly.
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to calculate the total revenue for each store by joining 'store', 'staff', and 'payment' tables
# Note: The tables ('store', 'staff', 'payment') do not exist in the 'employees.db' database created earlier.
# This query will likely result in an error "no such table: store".
# If you intended to query different tables or a different database, please update the connection or query accordingly.
select_query = """
SELECT
    s.store_id,
    SUM(p.amount) AS total_revenue
FROM
    store s
JOIN
    staff st ON s.store_id = st.store_id
JOIN
    payment p ON st.staff_id = p.staff_id
GROUP BY
    s.store_id;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: store

Solution 7:

In [81]:
import sqlite3

# Connect to the database (replace 'your_database.db' with your database file name)
# Assuming the database you want to query is 'employees.db' based on previous cells.
# If your tables ('film_category', 'film', 'inventory', 'rental') are in a different database, please change 'employees.db' accordingly.
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to calculate the total number of rentals for each category by joining multiple tables
# Note: The tables ('film_category', 'film', 'inventory', 'rental') do not exist in the 'employees.db' database created earlier.
# This query will likely result in an error "no such table: film_category".
# If you intended to query different tables or a different database, please update the connection or query accordingly.
select_query = """
SELECT
    fc.category_id,
    COUNT(r.rental_id) AS total_rentals
FROM
    film_category fc
JOIN
    film f ON fc.film_id = f.film_id
JOIN
    inventory i ON f.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id
GROUP BY
    fc.category_id;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film_category

Solution 8 :

In [83]:
import sqlite3

# Connect to the database (replace 'your_database.db' with your database file name)
# Assuming the database you want to query is 'employees.db' based on previous cells.
# If your tables ('film', 'language') are in a different database, please change 'employees.db' accordingly.
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to calculate the average rental rate for each language by joining 'film' and 'language' tables
# Note: The tables ('film', 'language') do not exist in the 'employees.db' database created earlier.
# This query will likely result in an error "no such table: film".
# If you intended to query different tables or a different database, please update the connection or query accordingly.
select_query = """
SELECT
    l.name AS language,
    AVG(f.rental_rate) AS average_rental_rate
FROM
    film f
JOIN
    language l ON f.language_id = l.language_id
GROUP BY
    l.name;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 9:

In [85]:
import sqlite3

# Connect to the database (replace 'your_database.db' with your database file name)
# Assuming the database you want to query is 'employees.db' based on previous cells.
# If your tables ('film', 'inventory', 'rental', 'customer') are in a different database, please change 'employees.db' accordingly.
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to select film title, customer first name, and customer last name by joining multiple tables
# Note: The tables ('film', 'inventory', 'rental', 'customer') do not exist in the 'employees.db' database created earlier.
# This query will likely result in errors like "no such table: film".
# If you intended to query different tables or a different database, please update the connection or query accordingly.
select_query = """
SELECT
    f.title,
    c.first_name,
    c.last_name
FROM
    film f
JOIN
    inventory i ON f.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id
JOIN
    customer c ON r.customer_id = c.customer_id;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 10

In [87]:
import sqlite3

# Connect to the database (replace 'your_database.db' with your database file name)
# Assuming the database you want to query is 'employees.db' based on previous cells.
# If your tables ('film', 'inventory', 'rental', 'customer') are in a different database, please change 'employees.db' accordingly.
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to select film title, customer first name, and customer last name by joining multiple tables
# Note: The tables ('film', 'inventory', 'rental', 'customer') do not exist in the 'employees.db' database created earlier.
# This query will likely result in errors like "no such table: film".
# If you intended to query different tables or a different database, please update the connection or query accordingly.
select_query = """
SELECT
    f.title,
    c.first_name,
    c.last_name
FROM
    film f
JOIN
    inventory i ON f.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id
JOIN
    customer c ON r.customer_id = c.customer_id;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 11:

In [89]:
import sqlite3

# Connect to the database (replace 'your_database.db' with your database file name)
# Assuming the database you want to query is 'employees.db' based on previous cells.
# If your tables ('customer', 'payment') are in a different database, please change 'employees.db' accordingly.
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to calculate the total amount spent by each customer by joining 'customer' and 'payment' tables
# Note: The tables ('customer', 'payment') do not exist in the 'employees.db' database created earlier.
# This query will likely result in errors like "no such table: customer".
# If you intended to query different tables or a different database, please update the connection or query accordingly.
select_query = """
SELECT
    c.first_name,
    c.last_name,
    SUM(p.amount) AS total_spent
FROM
    customer c
JOIN
    payment p ON c.customer_id = p.customer_id
GROUP BY
    c.customer_id, c.first_name, c.last_name;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 12:

In [91]:
import sqlite3

# Connect to the database (replace 'your_database.db' with your database file name)
# Assuming the database you want to query is 'employees.db' based on previous cells.
# If your tables ('customer', 'address', 'city', 'rental', 'inventory', 'film') are in a different database, please change 'employees.db' accordingly.
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to select customer first name, last name, and film title for rentals made by customers in 'London'
# Note: The tables ('customer', 'address', 'city', 'rental', 'inventory', 'film') do not exist in the 'employees.db' database created earlier.
# This query will likely result in errors like "no such table: customer".
# If you intended to query different tables or a different database, please update the connection or query accordingly.
select_query = """
SELECT
    c.first_name,
    c.last_name,
    f.title
FROM
    customer c
JOIN
    address a ON c.address_id = a.address_id
JOIN
    city ci ON a.city_id = ci.city_id
JOIN
    rental r ON c.customer_id = r.customer_id
JOIN
    inventory i ON r.inventory_id = i.inventory_id
JOIN
    film f ON i.film_id = f.film_id
WHERE
    ci.city = 'London'
GROUP BY
    c.customer_id, f.film_id
ORDER BY
    c.last_name, c.first_name, f.title;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer

Solution 13 :

In [93]:
import sqlite3

# Connect to the database (replace 'your_database.db' with your database file name)
# Assuming the database you want to query is 'employees.db' based on previous cells.
# If your tables ('film', 'inventory', 'rental') are in a different database, please change 'employees.db' accordingly.
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to select film title and the count of rentals for each film, ordered by rental count in descending order, limited to the top 5
# Note: The tables ('film', 'inventory', 'rental') do not exist in the 'employees.db' database created earlier.
# This query will likely result in errors like "no such table: film".
# If you intended to query different tables or a different database, please update the connection or query accordingly.
select_query = """
SELECT
    f.title,
    COUNT(r.rental_id) AS rental_count
FROM
    film f
JOIN
    inventory i ON f.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id
GROUP BY
    f.film_id
ORDER BY
    rental_count DESC
LIMIT 5;
"""

# Execute the SQL query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: film

Solution 14:

In [95]:
import sqlite3

# Connect to your database (replace 'your_database.db' with your actual database file)
# Assuming the database you want to query is 'employees.db' based on previous cells.
# If your tables ('customer', 'rental', 'inventory') are in a different database, please change 'employees.db' accordingly.
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()

# SQL query to select customer first name and last name who have rented films from both store 1 and store 2
# Note: The tables ('customer', 'rental', 'inventory') do not exist in the 'employees.db' database created earlier.
# This query will likely result in errors like "no such table: customer".
# If you intended to query different tables or a different database, please update the connection or query accordingly.
select_query = """
SELECT
    c.first_name,
    c.last_name
FROM
    customer c
JOIN
    rental r ON c.customer_id = r.customer_id
JOIN
    inventory i ON r.inventory_id = i.inventory_id
WHERE
    i.store_id IN (1, 2)
GROUP BY
    c.customer_id
HAVING
    COUNT(DISTINCT i.store_id) = 2;
"""

# Execute the query
try:
    cursor.execute(select_query)
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

except sqlite3.Error as e:
    print(f"Error executing query: {e}")
finally:
    # Close the connection
    conn.close()

Error executing query: no such table: customer